<aside id="sidebar" class="sidebar">
  <div class="sidebar-close">
    <img onclick="closeSidebar()" src="@images/icons/arrow-left.svg" alt="icon">
  </div>
  <div class="logo-container sidebar-mobile">
    <img class="logo" src="@images/icons/logo.svg" alt="logo">
    <div class="details">
      <p class="site-name">Korapay Book Club</p>
      <p class="user">Admin</p>
    </div>
  </div>
  <ul class="menu-item">
    <li class="nav-item">
      <a class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Profile</a>
    </li>
    <li class="nav-item">
      <div>
        <a class="nav-link">counts</a>
        <span class="count notification">3</span>
      </div>
    </li>
  </ul>
  <hr class="separator">
  <h3 class="menu-title">Explore</h3>
  <ul class="menu-item">
    <li class="nav-item">
      <div>
        <a class="nav-link">Books</a>
        <span class="count">273</span>
      </div>
    </li>
    <li class="nav-item">
      <div>
        <a class="nav-link">Genres</a>
        <span class="count">42</span>
      </div>
    </li>
    <li class="nav-item">
      <div>
        <a class="nav-link">Authors</a>
        <span class="count">106</span>
      </div>
    </li>
  </ul>
  <hr class="separator mobile">
  <h3 class="menu-title">My Books</h3>
  <ul class="menu-item">
    <li class="nav-item">
      <div>
        <a class="nav-link">Queued</a>
        <span class="count">3</span>
      </div>
    </li>
    <li class="nav-item">
      <div>
        <a class="nav-link">Currently Borrowed</a>
        <span class="count">0</span>
      </div>
    </li>
    <li class="nav-item">
      <div>
        <a class="nav-link">Favourites</a>
        <span class="count">19</span>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link">History</a>
    </li>
  </ul>
  <hr class="separator">
  <h3 class="menu-title">Admin</h3>
  <ul class="menu-item">
    <li class="nav-item">
      <div>
        <a class="nav-link">Book Requests</a>
        <span class="count notification">2</span>
      </div>
    </li>
    <li class="nav-item">
      <div>
        <a class="nav-link">Members</a>
        <span class="count">34</span>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link"> Library Settings</a>
    </li>
  </ul>
</aside>