<main class="main">
  <section id="carousel-section" class="carousel-section">
    <p class="section-header ml-2">FEATURED BOOKS</p>
    <div
      class="carousel flickity-enabled is-draggable"
      id="carousel"
      data-flickity="{'wrapAround': true,'cellAlign':'left', 'groupCells': '80%','imagesLoaded':true,'freeScroll':true,'arrowShape': 'M 10,50 L 70,90 L 70,90 L 70,50  L 70,10 L 70,10 Z'}"
      tabindex="0">
      <div class="flickity-viewport" style="height: 333px; touch-action: pan-y">
        <div class="flickity-slider" style="left: 0px; transform: translateX(-305.36%)">
          <div class="carousel-cell is-selected" style="position: absolute; left: 305.36%">
            <div class="carousel-item" id="carousel-item10">
              <div class="overlay"></div>
              <img
                class="details-toggle"
                id="details-toggle"
                src="../../../assets/images/icons/details-toggle.svg"
                alt="details-toggle" /><img
                class="close-details"
                src="../../../assets/images/icons/close-details.svg"
                alt="close-details" />
              <div class="details">
                <p class="status available">Available</p>
                <h3 class="name">Big Magic</h3>
                <p class="author">Elizabeth Gilbert</p>
                <p class="year">2014</p>
                <div class="type">
                  <h3>Genre:</h3>
                  <span>Motivational</span>
                </div>
                <div class="labels">
                  <h3>Labels:</h3>
                  <span>Creative, Self-help</span>
                </div>
                <div class="ratings_socials">
                  <div class="ratings">
                    <div class="year">
                      <h3>Ratings:</h3>
                      <span>4.0<span></span></span>
                    </div>
                    <div class="rate">
                      <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                      ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                      ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                      ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                      ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                    </div>
                  </div>
                  <div class="socials">
                    <div class="social-icons">
                      <img
                        class="users"
                        src="../../../assets/images/icons/users-count-light.svg"
                        alt="social-icon" /><img
                        class="likes"
                        src="../../../assets/images/icons/heart-light.svg"
                        alt="social-icon" />
                    </div>
                    <div><span class="num first">31</span><span class="num">29</span></div>
                  </div>
                </div>
              </div>
              <img src="../../../assets/images/bookcovers/large/big-magic.png" alt="cover" />
            </div>
          </div>
          <div class="carousel-cell" aria-hidden="true" style="position: absolute; left: 348.98%">
            <div class="carousel-item" id="carousel-item11">
              <div class="overlay"></div>
              <img
                class="details-toggle"
                id="details-toggle"
                src="../../../assets/images/icons/details-toggle.svg"
                alt="details-toggle" /><img
                class="close-details"
                src="../../../assets/images/icons/close-details.svg"
                alt="close-details" />
              <div class="details">
                <p class="status borrowedout">Borrowed Out</p>
                <h3 class="name">Built To Last</h3>
                <p class="author">Jim Collins, Jerry I. Porras</p>
                <p class="year">2001</p>
                <div class="type">
                  <h3>Genre:</h3>
                  <span>Business, Entrepreneurship</span>
                </div>
                <div class="labels">
                  <h3>Labels:</h3>
                  <span>Creative, Self-help</span>
                </div>
                <div class="ratings_socials">
                  <div class="ratings">
                    <div class="year">
                      <h3>Ratings:</h3>
                      <span>4.0<span></span></span>
                    </div>
                    <div class="rate">
                      <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                      ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                      ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                      ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                      ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                    </div>
                  </div>
                  <div class="socials">
                    <div class="social-icons">
                      <img
                        class="users"
                        src="../../../assets/images/icons/users-count-light.svg"
                        alt="social-icon" /><img
                        class="likes"
                        src="../../../assets/images/icons/heart-light.svg"
                        alt="social-icon" />
                    </div>
                    <div><span class="num first">31</span><span class="num">29</span></div>
                  </div>
                </div>
              </div>
              <img src="../../../assets/images/bookcovers/large/built-to-last.png" alt="cover" />
            </div>
          </div>
          <div class="carousel-cell" aria-hidden="true" style="position: absolute; left: 392.61%">
            <div class="carousel-item" id="carousel-item12">
              <div class="overlay"></div>
              <img
                class="details-toggle"
                id="details-toggle"
                src="../../../assets/images/icons/details-toggle.svg"
                alt="details-toggle" /><img
                class="close-details"
                src="../../../assets/images/icons/close-details.svg"
                alt="close-details" />
              <div class="details">
                <p class="status available">Available</p>
                <h3 class="name">Effective Python</h3>
                <p class="author">Diomidis Spinellis</p>
                <p class="year"></p>
                <div class="type">
                  <h3>Genre:</h3>
                  <span>Motivational</span>
                </div>
                <div class="labels">
                  <h3>Labels:</h3>
                  <span>Creative, Self-help</span>
                </div>
                <div class="ratings_socials">
                  <div class="ratings">
                    <div class="year">
                      <h3>Ratings:</h3>
                      <span>4.0<span></span></span>
                    </div>
                    <div class="rate">
                      <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                      ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                      ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                      ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                      ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                    </div>
                  </div>
                  <div class="socials">
                    <div class="social-icons">
                      <img
                        class="users"
                        src="../../../assets/images/icons/users-count-light.svg"
                        alt="social-icon" /><img
                        class="likes"
                        src="../../../assets/images/icons/heart-light.svg"
                        alt="social-icon" />
                    </div>
                    <div><span class="num first">31</span><span class="num">29</span></div>
                  </div>
                </div>
              </div>
              <img src="../../../assets/images/bookcovers/large/effective-python.png" alt="cover" />
            </div>
          </div>
          <div class="carousel-cell" aria-hidden="true" style="position: absolute; left: 130.87%">
            <div class="carousel-item" id="carousel-item13">
              <div class="overlay"></div>
              <img
                class="details-toggle"
                id="details-toggle"
                src="../../../assets/images/icons/details-toggle.svg"
                alt="details-toggle" /><img
                class="close-details"
                src="../../../assets/images/icons/close-details.svg"
                alt="close-details" />
              <div class="details">
                <p class="status available">Available</p>
                <h3 class="name">The Lean Startup</h3>
                <p class="author">Eric Reis</p>
                <p class="year">2005</p>
                <div class="type">
                  <h3>Genre:</h3>
                  <span>Motivational</span>
                </div>
                <div class="labels">
                  <h3>Labels:</h3>
                  <span>Creative, Self-help</span>
                </div>
                <div class="ratings_socials">
                  <div class="ratings">
                    <div class="year">
                      <h3>Ratings:</h3>
                      <span>4.0<span></span></span>
                    </div>
                    <div class="rate">
                      <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                      ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                      ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                      ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                      ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                    </div>
                  </div>
                  <div class="socials">
                    <div class="social-icons">
                      <img
                        class="users"
                        src="../../../assets/images/icons/users-count-light.svg"
                        alt="social-icon" /><img
                        class="likes"
                        src="../../../assets/images/icons/heart-light.svg"
                        alt="social-icon" />
                    </div>
                    <div><span class="num first">31</span><span class="num">29</span></div>
                  </div>
                </div>
              </div>
              <img src="../../../assets/images/bookcovers/large/the-lean-startup.png" alt="cover" />
            </div>
          </div>
          <div class="carousel-cell" aria-hidden="true" style="position: absolute; left: 174.49%">
            <div class="carousel-item" id="carousel-item14">
              <div class="overlay"></div>
              <img
                class="details-toggle"
                id="details-toggle"
                src="../../../assets/images/icons/details-toggle.svg"
                alt="details-toggle" /><img
                class="close-details"
                src="../../../assets/images/icons/close-details.svg"
                alt="close-details" />
              <div class="details">
                <p class="status available">Available</p>
                <h3 class="name">Effective Python</h3>
                <p class="author">Diomidis Spinellis</p>
                <p class="year"></p>
                <div class="type">
                  <h3>Genre:</h3>
                  <span>Motivational</span>
                </div>
                <div class="labels">
                  <h3>Labels:</h3>
                  <span>Creative, Self-help</span>
                </div>
                <div class="ratings_socials">
                  <div class="ratings">
                    <div class="year">
                      <h3>Ratings:</h3>
                      <span>4.0<span></span></span>
                    </div>
                    <div class="rate">
                      <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                      ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                      ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                      ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                      ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                    </div>
                  </div>
                  <div class="socials">
                    <div class="social-icons">
                      <img
                        class="users"
                        src="../../../assets/images/icons/users-count-light.svg"
                        alt="social-icon" /><img
                        class="likes"
                        src="../../../assets/images/icons/heart-light.svg"
                        alt="social-icon" />
                    </div>
                    <div><span class="num first">31</span><span class="num">29</span></div>
                  </div>
                </div>
              </div>
              <img src="../../../assets/images/bookcovers/large/effective-python.png" alt="cover" />
            </div>
          </div>
          <div class="carousel-cell" aria-hidden="true" style="position: absolute; left: 218.11%">
            <div class="carousel-item" id="carousel-item15">
              <div class="overlay"></div>
              <img
                class="details-toggle"
                id="details-toggle"
                src="../../../assets/images/icons/details-toggle.svg"
                alt="details-toggle" /><img
                class="close-details"
                src="../../../assets/images/icons/close-details.svg"
                alt="close-details" />
              <div class="details">
                <p class="status available">Available</p>
                <h3 class="name">Big Magic</h3>
                <p class="author">Elizabeth Gilbert</p>
                <p class="year">2014</p>
                <div class="type">
                  <h3>Genre:</h3>
                  <span>Motivational</span>
                </div>
                <div class="labels">
                  <h3>Labels:</h3>
                  <span>Creative, Self-help</span>
                </div>
                <div class="ratings_socials">
                  <div class="ratings">
                    <div class="year">
                      <h3>Ratings:</h3>
                      <span>4.0<span></span></span>
                    </div>
                    <div class="rate">
                      <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                      ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                      ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                      ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                      ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                    </div>
                  </div>
                  <div class="socials">
                    <div class="social-icons">
                      <img
                        class="users"
                        src="../../../assets/images/icons/users-count-light.svg"
                        alt="social-icon" /><img
                        class="likes"
                        src="../../../assets/images/icons/heart-light.svg"
                        alt="social-icon" />
                    </div>
                    <div><span class="num first">31</span><span class="num">29</span></div>
                  </div>
                </div>
              </div>
              <img src="../../../assets/images/bookcovers/large/big-magic.png" alt="cover" />
            </div>
          </div>
          <div class="carousel-cell" aria-hidden="true" style="position: absolute; left: 261.74%">
            <div class="carousel-item" id="carousel-item16">
              <div class="overlay"></div>
              <img
                class="details-toggle"
                id="details-toggle"
                src="../../../assets/images/icons/details-toggle.svg"
                alt="details-toggle" /><img
                class="close-details"
                src="../../../assets/images/icons/close-details.svg"
                alt="close-details" />
              <div class="details">
                <p class="status borrowedout">Borrowed Out</p>
                <h3 class="name">Built To Last</h3>
                <p class="author">Jim Collins, Jerry I. Porras</p>
                <p class="year">2001</p>
                <div class="type">
                  <h3>Genre:</h3>
                  <span>Business, Entrepreneurship</span>
                </div>
                <div class="labels">
                  <h3>Labels:</h3>
                  <span>Creative, Self-help</span>
                </div>
                <div class="ratings_socials">
                  <div class="ratings">
                    <div class="year">
                      <h3>Ratings:</h3>
                      <span>4.0<span></span></span>
                    </div>
                    <div class="rate">
                      <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                      ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                      ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                      ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                      ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                    </div>
                  </div>
                  <div class="socials">
                    <div class="social-icons">
                      <img
                        class="users"
                        src="../../../assets/images/icons/users-count-light.svg"
                        alt="social-icon" /><img
                        class="likes"
                        src="../../../assets/images/icons/heart-light.svg"
                        alt="social-icon" />
                    </div>
                    <div><span class="num first">31</span><span class="num">29</span></div>
                  </div>
                </div>
              </div>
              <img src="../../../assets/images/bookcovers/large/built-to-last.png" alt="cover" />
            </div>
          </div>
        </div>
      </div>
      <button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous">
        <svg class="flickity-button-icon" viewBox="0 0 100 100">
          <path d="M 10,50 L 70,90 L 70,90 L 70,50  L 70,10 L 70,10 Z" class="arrow"></path>
        </svg></button
      ><button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next">
        <svg class="flickity-button-icon" viewBox="0 0 100 100">
          <path
            d="M 10,50 L 70,90 L 70,90 L 70,50  L 70,10 L 70,10 Z"
            class="arrow"
            transform="translate(100, 100) rotate(180) "></path>
        </svg>
      </button>
      <ol class="flickity-page-dots">
        <li class="dot is-selected" aria-label="Page dot 1" aria-current="step"></li>
        <li class="dot" aria-label="Page dot 2"></li>
        <li class="dot" aria-label="Page dot 3"></li>
        <li class="dot" aria-label="Page dot 4"></li>
        <li class="dot" aria-label="Page dot 5"></li>
        <li class="dot" aria-label="Page dot 6"></li>
        <li class="dot" aria-label="Page dot 7"></li>
      </ol>
    </div>
  </section>
  <div id="book-sections" class="book-sections">
    <section>
      <p class="section-header">RECENTLY ADDED</p>
      <div class="book-list">
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/effective-engineer.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">The Effective Engineer</h3>
            <p class="author">Edmond Lau - 2009</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/built-to-last.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status borrowedout">Borrowed Out</p>
            <h3 class="name">Built To Last</h3>
            <p class="author">Jim Collins, Jerry I. Porras - 2001</p>
            <p class="type">Business, Entrepreneurship</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/the-lean-startup.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">The Lean Startup</h3>
            <p class="author">Eric Reis - 2005</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/effective-python.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">Effective Python</h3>
            <p class="author">Diomidis Spinellis</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/big-magic.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">Big Magic</h3>
            <p class="author">Elizabeth Gilbert - 2014</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <p class="section-header">ALL BOOKS</p>
      <div class="book-list">
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/effective-engineer.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">The Effective Engineer</h3>
            <p class="author">Edmond Lau - 2009</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/built-to-last.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status borrowedout">Borrowed Out</p>
            <h3 class="name">Built To Last</h3>
            <p class="author">Jim Collins, Jerry I. Porras - 2001</p>
            <p class="type">Business, Entrepreneurship</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/the-lean-startup.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">The Lean Startup</h3>
            <p class="author">Eric Reis - 2005</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/effective-python.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">Effective Python</h3>
            <p class="author">Diomidis Spinellis</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/big-magic.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">Big Magic</h3>
            <p class="author">Elizabeth Gilbert - 2014</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/effective-python.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">Effective Python</h3>
            <p class="author">Diomidis Spinellis</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/effective-engineer.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">The Effective Engineer</h3>
            <p class="author">Edmond Lau - 2009</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/built-to-last.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status borrowedout">Borrowed Out</p>
            <h3 class="name">Built To Last</h3>
            <p class="author">Jim Collins, Jerry I. Porras - 2001</p>
            <p class="type">Business, Entrepreneurship</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/the-lean-startup.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">The Lean Startup</h3>
            <p class="author">Eric Reis - 2005</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/effective-python.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">Effective Python</h3>
            <p class="author">Diomidis Spinellis</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/big-magic.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">Big Magic</h3>
            <p class="author">Elizabeth Gilbert - 2014</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/effective-engineer.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">The Effective Engineer</h3>
            <p class="author">Edmond Lau - 2009</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-item">
          <img src="../../../assets/images/bookcovers/the-lean-startup.png" alt="book-cover" class="book-cover" />
          <div class="book-details">
            <p class="status available">Available</p>
            <h3 class="name">The Lean Startup</h3>
            <p class="author">Eric Reis - 2005</p>
            <p class="type">Motivational</p>
            <div class="ratings_socials">
              <div class="ratings">
                <p>Ratings: 4.0</p>
                <div class="rate">
                  <input type="radio" id="star1" value="1" /><label for="star1" title="text">1 stars</label
                  ><input type="radio" id="star2" value="2" /><label for="star2" title="text">2 stars</label
                  ><input type="radio" id="star3" value="3" /><label for="star3" title="text">3 stars</label
                  ><input type="radio" id="star4" value="4" /><label for="star4" title="text">4 stars</label
                  ><input type="radio" id="star5" value="5" /><label for="star5" title="text">5 stars</label>
                </div>
              </div>
              <div class="socials">
                <div class="social-icons">
                  <img class="users" src="../../../assets/images/icons/user-count.svg" alt="social-icon" /><img
                    class="likes"
                    src="../../../assets/images/icons/heart.svg"
                    alt="social-icon" />
                </div>
                <div><span class="num" style="margin-right: 0.5rem">31</span><span class="num">29</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>